body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  h1{
    text-align: center;
   margin-top: 2rem;
  }
  a{
    color: #000;
  }
  .arrow{
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
    padding: 12px 12px;
    background-color: #ccc;
    display: none;
   
  }

  .container {
    text-align: center;
    margin: 4rem auto;
    /* position: sticky;
    top: 0;
    z-index: 10; */
  }

  .search-input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    margin-right: 10px;
  }

  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .search-button:hover {
    background-color: #45a049;
  }
  .main-container {
    max-width: 960px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .image-wrapper {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); /* 33.33% to take up 1/3rd of the available space, minus the gap */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .button-group {
    display: flex;
    justify-content: flex-end;
  }
  
  .favorite-button {
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 30%;
  }
  .add-button{
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 15%;
  }
  
  .download-link {
    align-self: flex-end;
    color: #000;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 4px 8px;
    border-radius: 5px;
    position: absolute;
    bottom: 20%;
    right: 20%;
    background-color: #fff;
  }
  
  .download-link:hover , .favorite-button:hover , .add-button:hover  {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: transparent;
    color: #fff;
  }
  .more-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    display: none;
  }
  .more-image button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }

  @media screen and (max-width:500px) {
    /* .download-link , .add-button , .favorite-button {
      padding: 2px 4px;
      font-size: 12px;
    }
    .download-link{
      bottom: 35%;
      right: 30%;
    }
    .add-button{
      top: 10%;
      right: 25%;
    }
    .favorite-button{
      top: 10%;
      right: 40%;
    } */
    .image-wrapper {
      flex: 0 0 calc(100% ); 
    }
  }